<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layoutMain">
<head>
    <title>abel Project</title>
</head>

<body layout:fragment="content">
    <div class="abel-title">
        <h1 class="title">
            <i class="fas fa-folder-open"></i> 메뉴관리
        </h1>

        <div class="title-button">
            <button>조회</button>
            <button>저장</button>
        </div>
    </div>

    <div class="searchView">
        <table>
            <tr>
                <th>메뉴그룹</th>
                <td>!!</td>
            </tr>
        </table>
    </div>

    <div>
        test2
    </div>
</body>
</html>